/* Shared Styles */
.poppins-text {
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.inter-text {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.display-flex{
  display: flex;
}
.bg-color{
  background-color: #f3f0f063;
}
.dark{
  color: #3A3A3A;
}

.btn-primary{
  font-size: 1rem;
  font-weight: 600;
  padding: 10px 24px;
  background-color: #E02C6D;
  color: white;
  border: none;
  border-radius: 40px;
  align-items: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.btn-primary:hover{
  background-color: white;
  color: #E02C6D;
  border: 1px solid #E02C6D;
}



/* Heading Styles */
.margin-heading{
  margin: 30px 120px;
  margin-bottom: 120px;
}
nav{
  justify-content: space-between;
  align-items: center;
}
nav h2{
  font-size: 2rem;
  font-weight: bold;
}
nav .list{
  font-size: 1rem;
  font-weight: 600;
}
.list ul{
  list-style-type: none;
  gap: 2rem;
}
.list ul a:hover{
  color: #E02C6D;
}
nav .list a{
  text-decoration: none;
  color: black;
}
.banner > img{
  position: absolute;
  top: 150px;
  right: 140px;
}
.banner-content{
  position: relative;
  justify-content: space-between;
  margin-top: 50px;
  align-items: center;
}
.banner-text h1{
  font-size: 3.3rem;
  font-weight: bold;
  margin: 0;
  max-width: 585px;
}
.banner-text p{
  font-size: 1rem;
  font-weight: 600;
  max-width: 500px;
  margin-bottom: 1rem;
}
.banner-text button{
  margin-top: 1.5rem;
}
.banner-image img{
  position: relative;
  margin-right: 45px;
}

/* Body Style */
.logos{
  margin: 0 165px;
  justify-content: space-evenly;
  border-top: 1px solid rgb(167, 167, 167);
  border-bottom: 1px solid rgb(167, 167, 167);
  padding: 40px 0;
  margin-bottom: 100px;
}
.collections{
  margin: 0 195px;
  margin-bottom: 100px;

}
.collections > h3{
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 30px;
}
.collections > h2{
  font-size: 16px;
  font-weight: 700;
  align-items: center;
  text-align: end;
  margin-top: 50px;
  color: #E02C6D;
  cursor: pointer;
}
.collections > h2 svg{
  margin-left: 5px;
  margin-bottom: -5px;
}
.card{
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 17px 15px;
}
.card img{
  width: 100%;
}
.card h3{
  color: rgb(37, 36, 34);
  font-size: 28px;
  font-weight: 500;
  margin: 10px 0 5px 0;
}
.card h4{
  color: rgb(37, 36, 34);
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 500;
  margin: 0;
}
.card h5{
  font-size: 14px;
  font-weight: bold;
  font-family: "Inter", sans-serif;
  margin: 0;
  color: #837979;
}
.stars{
  flex-direction: row;
  color: rgb(37, 36, 34);
  font-size: 16px;
  font-weight: 700;
  gap: 10px;
  padding: 8px 0;
}
.star-icons{
  color: orange;
}
.card-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.feature{
  margin: 0 195px;
  gap: 100px;
  margin-bottom: 100px;
}
.feature-text{
  align-items: center;
}
.feature-text h1{
  font-size: 38px;
  font-weight: 700;
}
.feature-text p{
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 25px;
}
.feature-text button{
  border-radius: 0;
}

/* Footer Style */
.foot{
  text-align: center;
  background-color: #0a0826;
  color: white;
  padding: 50px 0;
}
.foot h4{
  font-size: 24px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  margin: 0;
}
.foot p{
  font-size: 14px;
  font-weight: 300;
  font-family: "Inter", sans-serif;
}
.social-media{
  display: flex;
  justify-content: center;
  gap: 1.5%;
  margin-top: 20px;
  cursor: pointer;
}
.social-media i:hover{
  color: #E02C6D;
}

.hide{
  display: none;
}


@media screen and (max-width: 576px) {
  .head,
  .logos,
  .collections,
  .feature{
    margin: 25px;
  }
  nav{
    flex-direction: column;
    text-align: center;
  }
  .banner img{
    left: 80px;
    top: 200px;
    width: 70%;
  }
  .banner-content{
    flex-direction: column-reverse;
    text-align: center;
  }
  .banner-image{
    text-align: center;
    margin-bottom: 50px;
  }
  .banner-image img{
    margin: 0;
    width: 80%;
    top: 0;
    left: 0;
  }
  .btn-primary{
    margin: 0 auto;
  }
  .logos{
    margin-top: 80px;
    margin-bottom: 80px;
    flex-wrap: wrap;
    gap: 25px;
  }
  .card-container{
    grid-template-columns: repeat(1, 1fr);
  }
  .collections{
    margin-bottom: 50px;
  }
  .feature{
    text-align: center ;
    flex-direction: column-reverse;
    gap: 40px;
  }
  .foot{
    margin-top: 60px;
  }
}